body{
    margin: 0;
    padding: 0;
}
/***********Couleurs de fond principale de la maquette*********/
.orange-pale{
    background-color: #FFD59E;
}

.orange-background{
    background-color: #FF6738;
}
.orange-text{
    color: #FF6738;
}
.orange-titre1{
    color: #FFA938;
    font-size: 36px;
    font-weight: 900;
}
.gray{
    background-color: #c4c4c4;
}
.full-width{
    width: 100%;
}
.clear{
    clear: both;
}
/**********Header Style*********/

header{
    height: 147px;
    margin: 0;
    padding: 0;
    font-family: 'Francois One', sans-serif;
}

.wrapper{
    width: 1024px;
    margin: 0 auto;
}
.nom-entreprise{
    float: left;
}
.slogan{
    float: right;
}
.nom-entreprise > h1{
    margin: 0;
    font-size: 72px;
    font-weight: 500;
}

.slogan > h2{
    font-weight: 500;
    font-size: 34px;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-right: 90px;
    border-bottom: 8px solid #FF6738;
}

/*******************Navigation Bar Style**********/
.navigation-bar{
    height: 46px;
}
nav{
    padding-top: 10px;
}
nav a{
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 16.5px;
}
nav:first-child{
    padding-left: 100px;
}

nav a:hover{
    background-color: #FFD59E;
    color: #FF6738;
}


/**************MAIN STYLE*************/

main{
    font-family: 'Montserrat', sans-serif;
    font-weight:300;
}

.image-section{
    height: 300px;
    background: url("./images/image-section1.jpg")center no-repeat;
}

/*****************A proopos Section************/
.apropos{
    margin-top: 30px;
}
.apropos .image-apropos img{
    width : 327px;
    height: 297px;
    float: left;
}
.apropos .apropos-text{
    float: left;
    width: 644px;
    height: 230px;
    font-size: 14px;
    font-weight: 500;
    padding-left: 53px;
}
.apropos-text h2{
    margin-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}
.apropos-text p{
    margin-top: 5px;
    line-height: 22px;
    font-size: 14px;
    padding-bottom: 19px;
    border-bottom: 8px solid #FF6738;
}

/****************Le fondateur section****************/
#fondateur{
    margin-top: 357px;
}
.fondateur-article{
    background: url("./images/fondateur.jpg") no-repeat;
    height: 364px;
    position: relative;
}
.fondateur-article > h2{
    font-size: 36px;
    position: absolute;
    right : 20px;
    bottom: 10px;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: bolder;
}

.fondateur-text{
    font-size: 14px;
}
.fondateur-text p{
    width: 415px;
    margin-top: 0;
    padding-top: 40px;
    padding-bottom: 20px;
    display: inline-block;
}

.fondateur-text p:nth-child(1){
    padding-left: 80px;
}
.fondateur-text p:nth-child(2){
    padding-right: 70px;
    padding-left: 34px;
}

/****************SERVICES***************/
#services{
    margin-top: 30px;
}

.service-title > h2{
    font-family: 'Francois One', sans-serif;
    font-size: 48px;
    font-weight: lighter;
    padding-left: 80px;
    float: left;
    margin-top: 0;
    padding-top: 0;
}
.service-title > div{
    width: 651px;
    height: 54px;
    float: left;
    margin-left: 10px;
    margin-top: 15px;
}
.services-article-background{
    margin-top: 30px;
    background: url("./images/apropos.jpg") right/47%  no-repeat;
}
#services article > h3{
    font-size: 36px;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
    margin-top: 0px;
}

#services article > p{
    width: 49%;
    margin-top: 0;
}


.developpement-web{
    background-position: left;
    background-size: 51%;
}
.developpement-web p {
    padding-left: 538px;
}

.developpement-web h3{
    margin-left: 538px;
}

/***********************TARIFS*************/
#tarifs{
    margin-top: 30px;
}

.tarifs-title > h2{
    font-family: 'Francois One', sans-serif;
    font-size: 48px;
    font-weight: lighter;
    padding-left: 20px;
    float: left;
    margin-top: 0;
    padding-top: 0;
}
.tarifs-title > div{
    width: 671px;
    height: 54px;
    float: left;
    margin-left: 0px;
    margin-top: 15px;
}


/*********************TABLEAU DE SERVICES***************/
.tableau-service table{
    margin-bottom: 0;
    padding-bottom: 0;
}
.tableau-service table,td,thead,th{
    border: 1px solid #FF6738;
    border-collapse: collapse;
}

.tableau-service table > thead{
    font-size: 18px;
    font-weight: 400;
    font-family: 'Francois One', sans-serif;
    text-align: center;
}

.tableau-service table > thead  th{
    padding: 10px;
}
.tableau-service table > tbody{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 12px;
}
.tableau-service table > tbody tr td[colspan]{
    padding: 20px;
    font-weight: bold;
    font-size: 16px;
    background-color: #FFA938;
}

.tableau-service > table tr:nth-child(even){
    background-color: #FFD59E;
}

.tableau-service table > tbody tr:nth-child(even):hover{
    background-color: rgba(255, 217, 0, 0.411);
}

.tableau-service table > tbody tr:nth-child(odd):hover{
    background-color:gainsboro;
}



/***********************CONTACT*************/
#contact{
    margin-top: 30px;
}

.contact-title > h2{
    font-family: 'Francois One', sans-serif;
    font-size: 48px;
    font-weight: lighter;
    padding-left: 80px;
    float: left;
    margin-top: 0;
    padding-top: 0;
}
.contact-title > div{
    width: 585px;
    height: 54px;
    float: left;
    margin-left: 10px;
    margin-top: 15px;
}
#contact .formulaire-article{
    padding-top: 100px;
}

.form input,textarea{
    background-color: #FFD59E;
    padding:20px;
    font-family: 'Montserrat', sans-serif;
    color: rgba(0, 0, 0, 0.541);
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
    border : none;
    margin-left: 0;
    margin-top: 30px;
}

.form  #nom{
    width: 360px;
}
.form  #prenom{
    width: 570px;
    margin-left: 5px;
}

#courriel, #telephone{

    display: block;
    width: 656px;
}

#mandat{
    width: 975px;
}

#submit{
    width: 250px;
    color: #FFFFFF;
    font-family: 'Francois One', sans-serif;
    font-weight: 400;
    font-size: 22px;
    background-color: #FF6738;
    display: inline-block;
    border-radius: 5px;
    margin-left: 650px;
}


/******************FOOTER**************/
footer{
    margin-top: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer-title > h2{
    font-family: 'Francois One', sans-serif;
    font-size: 48px;
    font-weight: lighter;
    padding-left: 80px;
    float: left;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
}
.footer-title > div{
    width: 750px;
    height: 44px;
    float: left;
    margin-left: 10px;
    margin-top: 15px;
}

.footer-title address{
   font-weight: 600; 
   margin-left: 80px;
   width: 180px;
   line-height: 30px;
}